Package: poligon-blockchain-cli
Version: {{ POLIGON_INSTALLER_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Kopalnie Krypto <kontakt@kopalniekrypto.pl>
Description: Poligon Blockchain
 Poligon Blockchain
